@model InAndOutNet6Training.Models.ExpenseCategory

@{
    ViewData["Title"] = "Create new Expense Category";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Expense Category</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Name"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input asp-for="Name" class="form-control" autofocus />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 text-start pt-2 row">
                        <div class="col">
                            <button type="submit" class="btn btn-info w-75" value="create">Save</button>
                        </div>
                        <div class="col align-self-center">
                            <button type="button" class="btn btn-warning w-75" onclick="location.href='@Url.Action("Index")'" title="Go back to the Expense Category page">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}